/**
 * Padding for the body (to accomodate the fixed nav-bar).
 */
body {
	padding: 5em;
	background-color: rgba(0, 0, 0, 0);
	background-position-x: center;
	background-position-y: bottom;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-image: url("/static/images/background_spotlight.jpg");
	background-size: cover;
	background-origin: padding-box;
	background-clip: border-box;
	opacity: 0.95;
	padding-bottom: 2em;
}

#nav_bar{
	background-color: #171a21;
}

/**
* Responsive Text (apparently I'm on my own here)
* https://v4-alpha.getbootstrap.com/content/typography/#responsive-typography
*/
p {
    font-size: 0.9em;
}

h3 {
    text-align: center;
    font-weight:200;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 400;
}

.starter-template {
    padding: 5rem 1.5rem;
	margin: 5em 0 0 5em;
    text-align: center;
}

form {
	width: 400px;
	margin: 2em auto;
	padding: 2em 2em 2em 2em;
	border: 0.5px solid #000000;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.firebaseui-auth-container{
	padding: 10px 0px 10px 0px !important;
	width: auto;
}

.form-inline{
	padding: 3em;
	margin: auto;
	display: block;
	background-color: rgb(23, 25, 26);
}

#released-games-heading{
	margin-top: 100px;
	font-weight: bolder;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#footer-all-pages {
	margin-top: 150px;
	margin-bottom: 10px;
	position: relative;
	max-width: 2560px;
	min-width: 560px;
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

.btn {
	margin-left: 10em;
}

.delete-button {
	justify-content: center;
}

.container {
	margin-right: auto;
}

footer {
	display:contents;
	margin: 10em;
	width: 120%;
	background-color: darkgrey;
}

input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	background: #fafafa;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

input:focus { outline: none; }


.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

/* active */
input:focus ~ label, input.used ~ label {
	top: -20px;
  transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #4a89dc;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #4a89dc; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }

.button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin: .3em 0 1em 0;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 15px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #3160B6;
    cursor: pointer;
    transition: all 0.15s ease;
  }
  .button:focus { outline: 0; }
  
  
  /* Button modifiers */
  
  .buttonBlue {
    background: #343a40;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
  }
  
  .buttonBlue:hover { background: #1458b1; }

html {
    background-color: #1a1d1e !important;
}
html {
    color-scheme: dark !important;
}
html, body, input, textarea, select, button, dialog {
    background-color: #1a1d1e;
}
html, body, input, textarea, select, button {
    border-color: #7f7667;
    color: #fffdfa;
}
a {
    color: #38a0ff;
}
table {
    border-color: #5c6467;
}
::placeholder {
    color: #c4bcb1;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #464b00 !important;
    color: #fffdfa !important;
}
::-webkit-scrollbar {
    background-color: #232728;
    color: #bcb4a8;
}
::-webkit-scrollbar-thumb {
    background-color: #4c5155;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #60676c;
}
::-webkit-scrollbar-thumb:active {
    background-color: #4f5659;
}
::-webkit-scrollbar-corner {
    background-color: #1a1d1e;
}
* {
    scrollbar-color: #4c5155 #232728;
}
::selection {
    background-color: #0055bb !important;
    color: #fffdfa !important;
}
::-moz-selection {
    background-color: #0055bb !important;
    color: #fffdfa !important;
}

/* Game Released Section */
.released-game-item {
	display: flex;
	align-items: center;
	background: #fff;
	box-shadow: 0px 1px 13px 0px rgba(128, 18, 40, 0.1);
	position: relative;
	z-index: 1;
	padding: 20px 20px 20px;
	margin: 50px 0;
}
.released-game-img {
	margin-right: 35px;
	position: relative;
	z-index: 2;
}
.released-game-item-bg {
	background-image: url(/static/images/background_spotlight.jpg);
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-position: center;
	background-size:cover;
	z-index: -1;
	opacity: .40;
}

.released-game-content h4 {
	margin-bottom: 30px;
	line-height: 50px;
	font-size: 20px;
	font-weight: 700;
	color: #1c1121;
	font-family: 'Poppins', sans-serif;
	position: relative;
	display: inline-block;
	z-index: 1;
}
.released-game-content h4::before {
	content: "";
	position: absolute;
	right: -50px;
	top: 0;
	height: 100%;
	width: 324px;
	background-repeat: no-repeat;
	z-index: -1;
}
.released-game-content h4 > span {
	color: #fff;
}
.released-game-list ul li {
	display: block;
	font-size: 14px;
	font-weight: 500;
	color: #6c6c6c;
	margin-bottom: 10px;
}
.released-game-list ul li:last-child {
	margin-bottom: 0;
}
.released-game-list ul li span {
	color: #413b43;
	font-weight: 600;
	margin-right: 20px;
}
.released-game-content p {
	font-size: 14px;
	font-weight: 500;
	color: #6c6c6c;
	margin-bottom: 30px;
}
.released-game-information {
	padding-left: 0px;
}
.released-game-content .btn {
	font-size: 14px;
	padding: 16px 26px;
}
.released-game-nav-item {
	margin: 10px 0;
}
.released-game-nav-item img {
	width: 100%;
	box-shadow: 0px 1px 13px 0px rgba(128, 18, 40, 0.1);
	cursor: pointer;
}