{% extends "index.html" %}
{% set active_page = "games" %}
{% block content %}


<h1> Good Old Games!</h1>

<section class="released-games-area gray-bg pt-115 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="section-title title-style-three text-center mb-20">
                    <h2 id="released-games-heading">RELEASED <span>GAMES </span>
                    </h2>
                    <p>The following games have been released on this site!</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-12">
                <div class="released-game-active slick-initialized slick-slider slick-dotted">
                    <div class="slick-list draggable">
                        <div class="slick-track" style="opacity: 1; width: 1440px;">
                            <div class="released-game-carousel slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 790px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;" tabindex="0" role="tabpanel" id="slick-slide10" aria-describedby="slick-slide-control10">
                                <div class="released-game-item">
                                    <div class="released-game-item-bg"></div>
                                    <div class="released-game-img">
                                        <img src="/images/thewitcher3.jpg" style="float: right; display: flex; height: auto; width: auto;" alt="The Witcher 3 Image">
                                    </div>
                                    <div class="released-game-content">
                                        <h4>The Witcher 3: <span>Wild Hunt </span>
                                        </h4>
                                        <div class="released-game-list mb-15">
                                            <ul>
                                                <li>
                                                    <span>Category: </span>Story Rich, Third Person, Combat, Fantasy
                                                </li>
                                                <li>
                                                    <span>Platform: </span>Playstation 5, Xbox Series X|S, PS4, PC
                                                </li>
                                            </ul>
                                        </div>
                                        <p>The Witcher 3: Wild Hunt is a story-driven open world RPG set in a visually stunning fantasy universe full of meaningful choices and impactful consequences. 
                                          In The Witcher, you play as professional monster hunter Geralt of Rivia tasked with finding a child of prophecy in a vast open world rich with merchant cities, pirate islands, dangerous mountain passes, and forgotten caverns to explore. </p>
                                        <a href="#" class="btn btn-style-two" tabindex="0"><b>Buy Now</b> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="released-game-carousel slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 790px; position: relative; left: 300px; top: 0px; z-index: 998; opacity: 1;" tabindex="-1" role="tabpanel" id="slick-slide11" aria-describedby="slick-slide-control11">
                                <div class="released-game-item">
                                    <div class="released-game-item-bg"></div>
                                    <div class="released-game-img">
                                        <img src="/images/AC_Origins.jpg" alt="Assain's Creed Origins Image">
                                    </div>
                                    <div class="released-game-content">
                                        <h4>Assasin's Creed: <span>Origins </span>
                                        </h4>
                                        <div class="released-game-list mb-15">
                                            <ul>
                                                <li>
                                                    <span>Category: </span>Story Rich, Assasin, History
                                                </li>
                                                <li>
                                                    <span>Platform: </span>Playstation 5, Xbox Series X|S, PS4, PC
                                                </li>
                                            </ul>
                                        </div>
                                        <p>Ancient Egypt, a land of majesty and intrigue, is disappearing in a ruthless fight for power. 
                                          Unveil dark secrets and forgotten myths as you go back to the one founding moment: The Origins of the Assassin's Brotherhood.</p>
                                        <a href="#" class="btn btn-style-two" tabindex="-1"><b>Buy Now</b> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="released-game-carousel slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 790px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 1;" tabindex="-1" role="tabpanel" id="slick-slide12" aria-describedby="slick-slide-control12">
                                <div class="released-game-item">
                                    <div class="released-game-item-bg"></div>
                                    <div class="released-game-img">
                                        <img src="/images/apex-legends.jpg" alt="Apex Legends Image">
                                    </div>
                                    <div class="released-game-content">
                                        <h4>Apex <span>Legends </span>
                                        </h4>
                                        <div class="released-game-list mb-15">
                                            <ul>
                                                <li>
                                                    <span>Category : </span>FPS, Shooter, Fast-Paced, Action, PvP
                                                </li>
                                                <li>
                                                    <span>Platform: </span>Playstation 5, Xbox Series X|S, PS4, PC
                                                </li>
                                            </ul>
                                        </div>
                                        <p>Pick your character. Round up your squad. Show everyone what Legends are made of. 
                                          Compete with 100 players on a remote island for glory. Winner takes all! </p>
                                        <a href="#" class="btn btn-style-two" tabindex="-1"><b>Buy Now</b> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="released-game-carousel slick-slide slick-active" data-slick-index="3" aria-hidden="true" style="width: 790px; position: relative; left: 300px; top: 0px; z-index: 998; opacity: 1;" tabindex="-1" role="tabpanel" id="slick-slide13" aria-describedby="slick-slide-control13">
                                <div class="released-game-item">
                                    <div class="released-game-item-bg"></div>
                                    <div class="released-game-img">
                                        <img src="/images/Cyberpunk-2077.jpg" alt="Cyberpunk 2077 Image">
                                    </div>
                                    <div class="released-game-content">
                                        <h4>Cyberpunk <span>2077 </span>
                                        </h4>
                                        <div class="released-game-list mb-15">
                                            <ul>
                                                <li>
                                                    <span>Category: </span>Story Rich, First Person, Fantasy, Cyberpunk
                                                </li>
                                                <li>
                                                    <span>Platform: </span>Playstation 5, Xbox Series X|S, PC
                                                </li>
                                            </ul>
                                        </div>
                                        <p> Cyberpunk 2077 is an open-world, action-adventure RPG set in the megalopolis of Night City, where you play as a cyberpunk mercenary wrapped up in a do-or-die fight for survival. 
                                          Improved and featuring all-new free additional content, customize your character and playstyle as you take on jobs, build a reputation, and unlock upgrades. The relationships you forge and the choices you make will shape the story and the world around you. 
                                          Legends are made here. What will yours be?</p>
                                        <a href="#" class="btn btn-style-two" tabindex="-1"><b>Buy Now</b> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="released-game-carousel slick-slide slick-active" data-slick-index="3" aria-hidden="true" style="width: 790px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 1;" tabindex="-1" role="tabpanel" id="slick-slide13" aria-describedby="slick-slide-control13">
                              <div class="released-game-item">
                                  <div class="released-game-item-bg"></div>
                                  <div class="released-game-img">
                                      <img src="/images/Battlefield-2042.jpg" alt="Battlefield-2042 Image">
                                  </div>
                                  <div class="released-game-content">
                                      <h4>Battlefield <span>2042 </span>
                                      </h4>
                                      <div class="released-game-list mb-15">
                                          <ul>
                                              <li>
                                                  <span>Category: </span>First Person Shooter, Fast-Paced, Action, PvP
                                              </li>
                                              <li>
                                                  <span>Platform: </span>Playstation 5, Xbox Series X|S, PC
                                              </li>
                                          </ul>
                                      </div>
                                      <p> Cyberpunk 2077 is an open-world, action-adventure RPG set in the megalopolis of Night City, where you play as a cyberpunk mercenary wrapped up in a do-or-die fight for survival. 
                                        Improved and featuring all-new free additional content, customize your character and playstyle as you take on jobs, build a reputation, and unlock upgrades. The relationships you forge and the choices you make will shape the story and the world around you. 
                                        Legends are made here. What will yours be?</p>
                                      <a href="#" class="btn btn-style-two" tabindex="-1"><b>Buy Now</b> </a>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}