{% extends "index.html" %}
{% set active_page = "games" %}
{% block content %}


<h1> Good Old Games!</h1>

<section class="released-games-area gray-bg pt-115 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="section-title title-style-three text-center mb-20">
                    <h2 id="released-games-heading">RELEASED <span>GAMES </span>
                    </h2>
                    <p>The following games have been released on this site!</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-xl-8 col-lg-12">
                <div class="released-game-active slick-initialized slick-slider slick-dotted">
                    <div class="slick-list draggable">
                        <div class="slick-track" style="opacity: 1; width: 1440px;">
                            <div class="released-game-carousel slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 790px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;" tabindex="0" role="tabpanel" id="slick-slide10" aria-describedby="slick-slide-control10">
                                <div class="released-game-item">
                                    <div class="released-game-item-bg"></div>
                                    <div class="released-game-img">
                                        <img src="/static/images/thewitcher3.jpg" style="float: right; display: flex;" width="350px" height="200px" alt="The Witcher 3 Image">
                                    </div>
                                    <div class="released-game-content">
                                        <h4>The Witcher 3: Wild Hunt</h4>
                                        <div class="released-game-list mb-15">
                                            <ul class="released-game-information">
                                                <li>
                                                    <span>Category: </span>Story Rich, Third Person, Combat, Fantasy
                                                </li>
                                                <li>
                                                    <span>Platform: </span>Playstation 5, Xbox Series X|S, PS4, PC
                                                </li>
                                            </ul>
                                        </div>
                                        <p>The Witcher 3: Wild Hunt is a story-driven open world RPG set in a visually stunning fantasy universe full of meaningful choices and impactful consequences. 
                                          In The Witcher, you play as professional monster hunter Geralt of Rivia tasked with finding a child of prophecy in a vast open world rich with merchant cities, pirate islands, dangerous mountain passes, and forgotten caverns to explore. </p>
                                        <a href="#" class="btn btn-style-two" tabindex="0"><b>Buy Now</b> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="released-game-carousel slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 790px; position: relative; left: 300px; top: 0px; z-index: 998; opacity: 1;" tabindex="-1" role="tabpanel" id="slick-slide11" aria-describedby="slick-slide-control11">
                                <div class="released-game-item">
                                    <div class="released-game-item-bg"></div>
                                    <div class="released-game-img">
                                        <img id="myimg" src="/static/images/AC_Origins.jpg" alt="Assain's Creed Origins Image" width="350px" height="200px">
                                    </div>
                                    <div class="released-game-content">
                                        <h4>Assasin's Creed: Origins</h4>
                                        <div class="released-game-list mb-15">
                                            <ul class="released-game-information">
                                                <li>
                                                    <span>Category: </span>Story Rich, Assasin, History
                                                </li>
                                                <li>
                                                    <span>Platform: </span>Playstation 5, Xbox Series X|S, PS4, PC
                                                </li>
                                            </ul>
                                        </div>
                                        <p>Ancient Egypt, a land of majesty and intrigue, is disappearing in a ruthless fight for power. 
                                          Unveil dark secrets and forgotten myths as you go back to the one founding moment: The Origins of the Assassin's Brotherhood.</p>
                                        <a href="#" class="btn btn-style-two" tabindex="-1"><b>Buy Now</b> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="released-game-carousel slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 790px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 1;" tabindex="-1" role="tabpanel" id="slick-slide12" aria-describedby="slick-slide-control12">
                                <div class="released-game-item">
                                    <div class="released-game-item-bg"></div>
                                    <div class="released-game-img">
                                        <img src="/static/images/apex-legends.jpg" width="350px" height="200px" alt="Apex Legends Image">
                                    </div>
                                    <div class="released-game-content">
                                        <h4>Apex Legends</h4>
                                        <div class="released-game-list mb-15">
                                            <ul class="released-game-information">
                                                <li>
                                                    <span>Category : </span>FPS, Shooter, Fast-Paced, Action, PvP
                                                </li>
                                                <li>
                                                    <span>Platform: </span>Playstation 5, Xbox Series X|S, PS4, PC
                                                </li>
                                            </ul>
                                        </div>
                                        <p>Pick your character. Round up your squad. Show everyone what Legends are made of. 
                                          Compete with 100 players on a remote island for glory. Winner takes all! </p>
                                        <a href="#" class="btn btn-style-two" tabindex="-1"><b>Buy Now</b> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="released-game-carousel slick-slide slick-active" data-slick-index="3" aria-hidden="true" style="width: 790px; position: relative; left: 300px; top: 0px; z-index: 998; opacity: 1;" tabindex="-1" role="tabpanel" id="slick-slide13" aria-describedby="slick-slide-control13">
                                <div class="released-game-item">
                                    <div class="released-game-item-bg"></div>
                                    <div class="released-game-img">
                                        <img src="/static/images/Cyberpunk-2077.jpg" width="350px" height="200px" alt="Cyberpunk 2077 Image">
                                    </div>
                                    <div class="released-game-content">
                                        <h4>Cyberpunk 2077</h4>
                                        <div class="released-game-list mb-15">
                                            <ul class="released-game-information">
                                                <li>
                                                    <span>Category: </span>Story Rich, First Person, Fantasy, Cyberpunk
                                                </li>
                                                <li>
                                                    <span>Platform: </span>Playstation 5, Xbox Series X|S, PC
                                                </li>
                                            </ul>
                                        </div>
                                        <p> Cyberpunk 2077 is an open-world, action-adventure RPG set in the megalopolis of Night City, where you play as a cyberpunk mercenary wrapped up in a do-or-die fight for survival. 
                                          Improved and featuring all-new free additional content, customize your character and playstyle as you take on jobs, build a reputation, and unlock upgrades. The relationships you forge and the choices you make will shape the story and the world around you. 
                                          Legends are made here. What will yours be?</p>
                                        <a href="#" class="btn btn-style-two" tabindex="-1"><b>Buy Now</b> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="released-game-carousel slick-slide slick-active" data-slick-index="3" aria-hidden="true" style="width: 790px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 1;" tabindex="-1" role="tabpanel" id="slick-slide13" aria-describedby="slick-slide-control13">
                              <div class="released-game-item">
                                  <div class="released-game-item-bg"></div>
                                  <div class="released-game-img">
                                      <img src="/static/images/csgo.jpg" width="350px" height="250px" alt="CSGO Image">
                                  </div>
                                  <div class="released-game-content">
                                      <h4>Counter Strike Global Offensive</h4>
                                      <div class="released-game-list mb-15">
                                          <ul class="released-game-information">
                                              <li>
                                                  <span>Category: </span>First Person Shooter, Fast-Paced, Action, PvP, Competitive
                                              </li>
                                              <li>
                                                  <span>Platform: </span>Playstation 3, Xbox 360, PC
                                              </li>
                                          </ul>
                                      </div>
                                      <p>Engage in an incredibly realistic brand of terrorist warfare in this wildly popular team-based game. 
                                        Ally with teammates to complete strategic missions. Take out enemy sites. Rescue hostages. Your role affects your team's success. Your team's success affects your role. </p>
                                      <a href="#" class="btn btn-style-two" tabindex="-1"><b>Buy Now</b> </a>
                                  </div>
                              </div>
                            </div>
                            <div class="released-game-carousel slick-slide slick-active" data-slick-index="3" aria-hidden="true" style="width: 790px; position: relative; left: 300px; top: 0px; z-index: 998; opacity: 1;" tabindex="-1" role="tabpanel" id="slick-slide13" aria-describedby="slick-slide-control13">
                            <div class="released-game-item">
                                <div class="released-game-item-bg"></div>
                                <div class="released-game-img">
                                    <img src="/static/images/Battlefield-4.png" width="350px" height="200px" alt="Battlefield-4 Image">
                                </div>
                                <div class="released-game-content">
                                    <h4>Battlefield 4</h4>
                                    <div class="released-game-list mb-15">
                                        <ul class="released-game-information">
                                            <li>
                                                <span>Category: </span>First Person Shooter, Fast-Paced, Action, PvP
                                            </li>
                                            <li>
                                                <span>Platform: </span>Playstation 4, Xbox One, PC
                                            </li>
                                        </ul>
                                    </div>
                                    <p>Embrace unrivaled destruction in Battlefield 4™. Revel in the glorious chaos of all-out war packed with rewarding, tactical challenges in an interactive environment. 
                                      Squad up and bring a cutting-edge arsenal into dynamically changing battlegrounds supporting 64 players, unprecedented scale, and epic destruction.</p>
                                    <a href="#" class="btn btn-style-two" tabindex="-1"><b>Buy Now</b> </a>
                                </div>
                            </div>
                            </div>
                            <div class="released-game-carousel slick-slide slick-active" data-slick-index="3" aria-hidden="true" style="width: 790px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 1;" tabindex="-1" role="tabpanel" id="slick-slide13" aria-describedby="slick-slide-control13">
                                <div class="released-game-item">
                                    <div class="released-game-item-bg"></div>
                                    <div class="released-game-img">
                                        <img src="/static/images/assassins-creed-iv-black-flag.jpg" width="350px" height="200px" alt="Battlefield-2042 Image">
                                    </div>
                                    <div class="released-game-content">
                                        <h4>Assassin's Creed <span>Black Flag </span>
                                        </h4>
                                        <div class="released-game-list mb-15">
                                            <ul class="released-game-information">
                                                <li>
                                                    <span>Category: </span>Story Rich, Assasin, History
                                                </li>
                                                <li>
                                                    <span>Platform: </span>Playstation 5, Playstation 4, Xbox 360, Xbox Series X|S, PC
                                                </li>
                                            </ul>
                                        </div>
                                        <p>The year is 1715. Pirates rule the Caribbean and have established their own lawless Republic where corruption, greediness and cruelty are commonplace.

                                            Among these outlaws is a brash young captain named Edward Kenway. His fight for glory has earned him the respect of legends like Blackbeard, but also drawn him into the ancient war between Assassins and Templars, a war that may destroy everything the pirates have built.
                                            
                                            Welcome to the Golden Age of Piracy.</p>
                                        <a href="#" class="btn btn-style-two" tabindex="-1"><b>Buy Now</b> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="released-game-carousel slick-slide slick-active" data-slick-index="3" aria-hidden="true" style="width: 790px; position: relative; left: 300px; top: 0px; z-index: 998; opacity: 1;" tabindex="-1" role="tabpanel" id="slick-slide13" aria-describedby="slick-slide-control13">
                                <div class="released-game-item">
                                    <div class="released-game-item-bg"></div>
                                    <div class="released-game-img">
                                        <img src="/static/images/doom-eternal.jpg" width="350px" height="200px" alt="Battlefield-2042 Image">
                                    </div>
                                    <div class="released-game-content">
                                        <h4>Doom Eternal</h4>
                                        <div class="released-game-list mb-15">
                                            <ul class="released-game-information">
                                                <li>
                                                    <span>Category: </span>First Person Shooter, Fast-Paced, Action, PvP, Violent, Gore
                                                </li>
                                                <li>
                                                    <span>Platform: </span>Playstation 5, Xbox Series X|S, PC
                                                </li>
                                            </ul>
                                        </div>
                                        <p>Hell's armies have invaded Earth. Become the Slayer in an epic single-player campaign to conquer demons across dimensions and stop the final destruction of humanity. 
                                            The only thing they fear... is you.</p>
                                        <a href="#" class="btn btn-style-two" tabindex="-1"><b>Buy Now</b> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="released-game-carousel slick-slide slick-active" data-slick-index="3" aria-hidden="true" style="width: 790px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 1;" tabindex="-1" role="tabpanel" id="slick-slide13" aria-describedby="slick-slide-control13">
                                <div class="released-game-item">
                                    <div class="released-game-item-bg"></div>
                                    <div class="released-game-img">
                                        <img src="/static/images/god-of-war-2018.jpg" width="300px" height="250px" alt="Battlefield-2042 Image">
                                    </div>
                                    <div class="released-game-content">
                                        <h4>God of War (2018)</h4>
                                        <div class="released-game-list mb-15">
                                            <ul class="released-game-information">
                                                <li>
                                                    <span>Category: </span>Third Person, Fast-Paced, Action, Story Rich, Norse Methodology
                                                </li>
                                                <li>
                                                    <span>Platform: </span>Playstation 4, PC
                                                </li>
                                            </ul>
                                        </div>
                                        <p>His vengeance against the Gods of Olympus years behind him, Kratos now lives as a man in the realm of Norse Gods and monsters. 
                                            It is in this harsh, unforgiving world that he must fight to survive… and teach his son to do the same. </p>
                                        <a href="#" class="btn btn-style-two" tabindex="-1"><b>Buy Now</b> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="released-game-carousel slick-slide slick-active" data-slick-index="3" aria-hidden="true" style="width: 790px; position: relative; left: 300px; top: 0px; z-index: 998; opacity: 1;" tabindex="-1" role="tabpanel" id="slick-slide13" aria-describedby="slick-slide-control13">
                                <div class="released-game-item">
                                    <div class="released-game-item-bg"></div>
                                    <div class="released-game-img">
                                        <img src="/static/images/red-dead-redemption-2.jpg" width="350px" height="180px" alt="RDR2 Image">
                                    </div>
                                    <div class="released-game-content">
                                        <h4>Red Dead Redemption 2</h4>
                                        <div class="released-game-list mb-15">
                                            <ul class="released-game-information">
                                                <li>
                                                    <span>Category: </span>Third Person, Action, Story Rich, Early America, History
                                                </li>
                                                <li>
                                                    <span>Platform: </span>Playstation 4, PC, Playstation 5, Xbox One/Series X|S
                                                </li>
                                            </ul>
                                        </div>
                                        <p>RDR2 is the epic tale of outlaw Arthur Morgan and the infamous Van der Linde gang, on the run across America at the dawn of the modern age. Also includes access to the shared living world of Red Dead Online.</p>
                                        <a href="#" class="btn btn-style-two" tabindex="-1"><b>Buy Now</b> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="released-game-carousel slick-slide slick-active" data-slick-index="3" aria-hidden="true" style="width: 790px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 1;" tabindex="-1" role="tabpanel" id="slick-slide13" aria-describedby="slick-slide-control13">
                                <div class="released-game-item">
                                    <div class="released-game-item-bg"></div>
                                    <div class="released-game-img">
                                        <img src="/static/images/god-of-war-ragnarok.jpg" width="350px" height="180px" alt="GOW-Ragnarok Image">
                                    </div>
                                    <div class="released-game-content">
                                        <h4>God Of War Ragnarok</h4>
                                        <div class="released-game-list mb-15">
                                            <ul class="released-game-information">
                                                <li>
                                                    <span>Category: </span>Third Person, Fast-Paced, Action, Story Rich, Norse Methodology
                                                </li>
                                                <li>
                                                    <span>Platform: </span>Playstation 4, Playstation 5
                                                </li>
                                            </ul>
                                        </div>
                                        <p>Fimbulwinter is well underway. Kratos and Atreus must journey to each of the Nine Realms in search of answers as Asgardian forces prepare for a prophesied battle that will end the world. 
                                            Along the way they will explore stunning, mythical landscapes, and face fearsome enemies in the form of Norse gods and monsters. The threat of Ragnarök grows ever closer. Kratos and Atreus must choose between their own safety and the safety of the realms.</p>
                                        <a href="#" class="btn btn-style-two" tabindex="-1"><b>Buy Now</b> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="released-game-carousel slick-slide slick-active" data-slick-index="3" aria-hidden="true" style="width: 790px; position: relative; left: 300px; top: 0px; z-index: 998; opacity: 1;" tabindex="-1" role="tabpanel" id="slick-slide13" aria-describedby="slick-slide-control13">
                                <div class="released-game-item">
                                    <div class="released-game-item-bg"></div>
                                    <div class="released-game-img">
                                        <img src="/static/images/valorant.jpg" width="350px" height="180px" alt="Valorant Image">
                                    </div>
                                    <div class="released-game-content">
                                        <h4>Valorant</h4>
                                        <div class="released-game-list mb-15">
                                            <ul class="released-game-information">
                                                <li>
                                                    <span>Category: </span>FPS, Action, Fast-Paced, PvP
                                                </li>
                                                <li>
                                                    <span>Platform: </span>PC
                                                </li>
                                            </ul>
                                        </div>
                                        <p>VALORANT is a character-based 5v5 tactical shooter set on the global stage. Outwit, outplay, and outshine your competition with tactical abilities, precise gunplay, and adaptive teamwork. Genres. Action</p>
                                        <a href="#" class="btn btn-style-two" tabindex="-1"><b>Buy Now</b> </a>
                                    </div>
                                </div>
                            </div>
                            <div class="released-game-carousel slick-slide slick-active" data-slick-index="3" aria-hidden="true" style="width: 790px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 1;" tabindex="-1" role="tabpanel" id="slick-slide13" aria-describedby="slick-slide-control13">
                                <div class="released-game-item">
                                    <div class="released-game-item-bg"></div>
                                    <div class="released-game-img">
                                        <img src="/static/images/f1-22.jpg" width="350px" height="180px" alt="F1 22 Image">
                                    </div>
                                    <div class="released-game-content">
                                        <h4>F1 22</h4>
                                        <div class="released-game-list mb-15">
                                            <ul class="released-game-information">
                                                <li>
                                                    <span>Category: </span>First Person, Action, Racing, Simulation, Realistic, VR
                                                </li>
                                                <li>
                                                    <span>Platform: </span>Playstation 4, PC, Playstation 5, Xbox One/Series X|S
                                                </li>
                                            </ul>
                                        </div>
                                        <p>Enter the new era of Formula 1® in EA SPORTS™ F1® 22, the official video game of the 2022 FIA Formula One World Championship™. 
                                            Take your seat for a new season as redesigned cars and overhauled rules redefine race day, test your skills around the new Miami International Autodrome, and get a taste of the glitz and glamour in F1® Life.</p>
                                        <a href="#" class="btn btn-style-two" tabindex="-1"><b>Buy Now</b> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}