{% extends "index.html" %}
{% set active_page = "login" %}
{% block content %}

<head>
    <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />
    <script src="/static/scripts/login_functions.js"></script>
</head>


<h1>Welcome Back!</h1>
<p>You must log in to access your purchased games!</p>

<body id="loginBody" >
    <div id="loginMain">
    <div id="firebaseui-auth-container"></div>
    <div id="loader">Loading...</div>
    </div>
        <!-- Login Form -->
        <div class="login-form" id="formLogin">
            <form>
                <div class="group">
                    <input id="txtEmail" type="email">
                    <label>Email</label>
                </div>
                <div class="group">
                    <input id="txtPassword" type="password">
                    <label>Password</label>
                </div>
                <div id="divLoginError" class="group">
                    <!--<div id="lblLoginErrorMessage" class="errorlabel">Error message</div>-->
                </div>
                <button id="btnLogin" type="button" class="button buttonBlue" onclick="Login()">Log in</button>
                <button id="btnSignup" type="button" class="button buttonBlue">Sign up</button>
                </form>
                <a href="{{ url_for('index') }}"> Continue without logging in?</a>
            </form>
        </div>
    </div>

</body>
{% endblock %}